<div>
    <a ui-sref="home" class="pull-right btn btn-primary btn-outline btn-rounded">Home</a>
    <h3>Masterdata <small>Add/Remove Masterdata</small></h3>
    <div class="jumbotron box">



        <div class="container" >

            <table width="100%">
                <tr>
                    <th><h6><b>Host</b></h6></th>
                    <th><h6><b>IconUrl</b></h6></th>
                    <th><h6><b>Typename</b></h6></th>
                </tr>
                <tr>
                    <td><p style="padding: -10px">youtube.com</p></td>
                    <td><input k-content style="width: 100%" ng-model="model.youtube.content"/></td>
                    <td><input k-content style="width: 100%" ng-model="model.youtube.secondary"/></td>
                    <td> <button class="k-primary" ng-click="saveLink(0)">Save</button> </td>

                </tr>


            </table>


        </div>


    </div>

    <div class="jumbotron box">

        <h4>Create Pitch Type</h4>

        <div class="container" >
    <add-object
        on-key-down="savePitchType"
        object-list="model.pitchType"
        on-remove="removePitchType">

    </add-object>



        </div>


    </div>

    <div class="jumbotron box">

        <h4>Create Location</h4>



        <div class="container" >
            <add-object
                on-key-down="saveLocation"
                object-list="model.location"
                on-remove="removeLocation">

            </add-object>




        </div>

    </div>

    <div class="jumbotron box">

        <h4>Create Pitch Status Type</h4>



        <div class="container" >
            <add-object
                on-key-down="savePitchStatusType"
                object-list="model.pitchStatusType"
                on-remove="removePitchStatusType">

            </add-object>




        </div>

    </div>

    <div class="jumbotron box">

        <h4>Create Response Type</h4>



        <div class="container" >
            <add-object
                on-key-down="savePitchClientResponseType"
                object-list="model.pitchClientResponseType"
                on-remove="removePitchClientResponseType">

            </add-object>




        </div>

    </div> <div class="jumbotron box">

        <h4>Create Current Service Type</h4>



        <div class="container" >
            <add-object
                on-key-down="savePitchClientCurrentServiceType"
                object-list="model.pitchClientCurrentServiceType"
                on-remove="removePitchClientCurrentServiceType">

            </add-object>




        </div>

    </div>
 <div class="jumbotron box">

        <h4>Create Client Type</h4>



        <div class="container" >
            <add-object
                on-key-down="savePitchClientType"
                object-list="model.pitchClientType"
                on-remove="removePitchClientType">

            </add-object>




        </div>

    </div>

 <div class="jumbotron box">

        <h4>Create Currency Type</h4>



        <div class="container" >
            <add-object
                on-key-down="savePitchCurrencyType"
                object-list="model.pitchCurrencyType"
                on-remove="removePitchCurrencyType">

            </add-object>




        </div>

    </div>

 <div class="jumbotron box">

        <h4>Create Source Type</h4>



        <div class="container" >
            <add-object
                on-key-down="savePitchSourceType"
                object-list="model.pitchSourceType"
                on-remove="removePitchSourceType">

            </add-object>




        </div>

    </div>


    <div class="jumbotron box">

        <h4>Create contactType</h4>



        <div class="container" >
            <add-object
                on-key-down="saveContactType"
                object-list="model.contactType"
                on-remove="removeContactType">

            </add-object>






        </div>

    </div>
    <div class="jumbotron box">

        <h4>Create CompanyType</h4>



        <div class="container" >

            <add-object
                on-key-down="saveCompanyType"
                object-list="model.companyType"
                on-remove="removeCompanyType">

            </add-object>






        </div>

    </div>

    <div class="jumbotron box">

        <h4>Create Requested Service Type</h4>



        <div class="container" >

            <add-object
                on-key-down="saveRequestedServiceType"
                object-list="model.requestedServiceType"
                on-remove="removeRequestedServiceType">

            </add-object>






        </div>

    </div>

    <div class="jumbotron box">

        <h4>Create Language</h4>



            <div class="container" >
            <add-language-object
                object-list="model.language"
                on-key-down="saveLanguage"
                on-remove="removeLanguage"
            ></add-language-object>

        </div>

    </div>


</div>

