<div>


    <div class="jumbotron">
        <div class="container">
            <h6>Agenda</h6>
            <input k-content style="width: 100%" ng-model="model.meetingAgenda">
            <br>
            <h6>Location</h6>
            <input k-content style="width: 100%" ng-model="model.meetingLocation">
            <br>



            <h6>Remarks</h6>
            <textarea kendo-editor k-ng-model="model.meetingRemarks" ></textarea><br>
            <br>


            <h6>Contact Date</h6>
            <input kendo-date-picker
                   style="width: 100%;"
                   k-ng-model="model.meetingDate"
            />
        </div>
    </div>
    <div class="jumbotron">
            <div class="container">
                <button class="k-primary"  class="k-button k-primary" ng-click="AssignToLead()" >Publish</button>
            </div>
    </div>

</div>
