<div class="dashboard-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">

       <div class="text-center">
           <h2 class=brand>mobiShastra <small>Admin Dashboard</small></h2>
        <img src="images/flat-avatar.jpg" class="user-avatar" width="180" /><br />
        <a ui-sref="login" ng-click="logout()" class="btn btn-white btn-outline btn-rounded btn-sm">Logout</a>
      </div>


      <ul class="nav nav-sidebar">
         <li ng-class="{active: $state.includes('home')}"><a ui-sref="home">Home <span class="sr-only">(current)</span></a></li>
         <li ng-if="privilege.viewLead" ng-class="{active: $state.includes('pitches')}"><a ui-sref="pitches">Leads</a></li>
         <li ng-if="privilege.viewMeeting" ng-class="{active: $state.includes('userMeetings')}"><a ui-sref="userMeetings">Unassigned Meetings</a></li>
         <li ng-if="privilege.viewCompany" ng-class="{active: $state.includes('companies')}"><a ui-sref="companies">Companies</a></li>
         <li ng-if="privilege.viewProfile" ng-class="{active: $state.includes('profiles')}"><a ui-sref="profiles">Profiles</a></li>
         <li ng-if="privilege.createMasterdata" ng-class="{active: $state.includes('masterdata')}"><a ui-sref="masterdata">Masterdata</a></li>
         <li  ng-if="privilege.createSetting" ng-class="{active: $state.includes('settings')}"><a ui-sref="settings">Settings</a></li>

      </ul>

    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view>
    </div>
  </div>
</div>
</div>
