
<div>
    <a ui-sref="pitches" class="pull-right btn btn-primary btn-outline btn-rounded">Leads</a>
    <h3>Leads <small>Edit Sale</small></h3>


    <form kendo-validator="validator" ng-submit="publishPitch()">

        <div class="jumbotron box">

            <h4>Title and details</h4>



            <div class="container" >
                <h6>Title</h6>
                <input k-content style="width: 100%" ng-required="{{validatorServer.pitchTitle}}" name="title"
                       ng-model="model.pitchTitle">
                <br>

                <h6>Sale Type</h6>
                <select kendo-drop-down-list name="saletype"   k-options="selectOptionsPitchType" ng-required="{{validatorServer.pitchType}}"  k-ng-model="model.pitchType" style="width: 100%;"></select>

                <br>


                <h6>Client Type</h6>
                <select kendo-drop-down-list ng-required="{{validatorServer.pitchClientType}}"   k-options="selectOptionsPitchClientType" k-ng-model="model.pitchClientType" style="width: 100%;"></select>
                <br>


                <h6>Client Response Type</h6>
                <select kendo-drop-down-list ng-required="{{validatorServer.pitchClientResponseType}}"   k-options="selectOptionsPitchClientResponseType" k-ng-model="model.pitchClientResponseType" style="width: 100%;"></select>
                <br>

                <h6>Requested Service Type</h6>
                <select kendo-drop-down-list ng-required="{{validatorServer.requestedServiceType}}"   k-options="selectOptionsRequestedServiceType" k-ng-model="model.requestedServiceType" style="width: 100%;"></select>
                <br>

                <h6>Client Current Service Type</h6>
                <select kendo-drop-down-list ng-required="{{validatorServer.pitchClientCurrentServiceType}}"   k-options="selectOptionsPitchClientCurrentServiceType" k-ng-model="model.pitchClientCurrentServiceType" style="width: 100%;"></select>
                <br>


                <!--  &lt;!&ndash;will make it dropdown&ndash;&gt;

                 <h6>Assigned TeamLeader</h6>
                 <input k-content style="width: 100%"  required   ng-model="model.assignedTeamLeader">
                 <br>

                 &lt;!&ndash;will make it dropdown&ndash;&gt;
                 <h6>Assigned SalesPerson</h6>
                 <input k-content style="width: 100%" required  ng-model="model.assignedSalesPerson">
                 <br>

     -->


                <h6>Status</h6>
                <select kendo-drop-down-list  k-options="selectOptionsPitchStatusType" ng-required="{{validatorServer.pitchStatusType}}"    k-ng-model="model.pitchStatusType" style="width: 100%;"></select>
                <br>

                <!--will make it dropdown-->

                <h6>Location</h6>
                <select kendo-drop-down-list  k-options="selectOptionslocation" ng-required="{{validatorServer.location}}"   k-ng-model="model.location" style="width: 100%;"></select>
                <br>

                <!--


                            <h6>Remarks about Current Status by Sales Person</h6>
                            <textarea kendo-editor k-ng-model="model.pitchStatusRemarks"></textarea><br>

                            <h6>Remarks about Sales Person</h6>
                            <textarea kendo-editor k-ng-model="model.pitchSalesPersonRemarks"></textarea><br>


                -->


            </div>


        </div>


        <div class="jumbotron box">

            <h4>Business Details</h4>



            <div class="container" >
                <h6>Expected Bussiness</h6>
                <input kendo-numeric-text-box k-min="0" ng-required="{{validatorServer.pitchExpectedBusiness}}"    k-ng-model="model.pitchExpectedBusiness" style="width: 100%" n>
                <br>

                <h6>Actual Bussiness</h6>
                <input kendo-numeric-text-box k-min="0" ng-required="{{validatorServer.pitchActualBusiness}}"     k-ng-model="model.pitchActualBusiness" style="width: 100%" >
                <br>


                <h6>Currency Type</h6>
                <select kendo-drop-down-list  k-options="selectOptionsPitchCurrencyType" ng-required="{{validatorServer.pitchCurrencyType}}"   k-ng-model="model.pitchCurrencyType" style="width: 100%;"></select>
                <br>


                <h6>Source Type</h6>
                <select kendo-drop-down-list  k-options="selectOptionsPitchSourceType" ng-required="{{validatorServer.pitchSourceType}}"  k-ng-model="model.pitchSourceType" style="width: 100%;"></select>
                <br>






            </div>


        </div>
        <div class="jumbotron box">

            <h4>Scheduled Dates</h4>



            <div class="container" >

                <h6>Contact Date</h6>
                <input kendo-date-picker
                       style="width: 100%;"
                       ng-required="{{validatorServer.scheduelDate}}"
                       k-ng-model="model.scheduelDate"
                />


            </div>



        </div>



        <div class="jumbotron box">

            <h4>Custom Fields</h4>



            <div class="container" >

                <add-form-feild
                    object-list="model.customFeilds"

                ></add-form-feild>



            </div>



        </div>



        <div class="jumbotron box">
            <div class="container">
                <button class="k-primary"  class="k-button k-primary" type="submit" >Publish</button>
            </div>
        </div>

    </form>


</div>

