<div>
    <a ui-sref="fieldvalidationadd" class="pull-right btn btn-primary btn-outline btn-rounded">Add</a>
    <h3>User Privilege <small>User Privilege</small></h3>
    <div class="jumbotron">
        <div class="container">
            <h6>User Team Lead, Role ID <strong>3</strong></h6>

            <div class="row box2">
                <div class="col-md-6">
                    <h6>Create Contact/Company</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.privilege3.createCompany">
                </div>
                <div class="col-md-6">
                    <h6>View Contact/Company</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.privilege3.viewCompany">

                </div>

            </div>

            <div class="row box2">
                <div class="col-md-6">
                    <h6>Create Meeting</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.privilege3.createMeeting">
                </div>
                <div class="col-md-6">
                    <h6>View Meeting</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.privilege3.viewMeeting">

                </div>

            </div>


            <div class="row box2">
                <div class="col-md-6">
                    <h6>Create Lead</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.privilege3.createLead">
                </div>
                <div class="col-md-6">
                    <h6>View Lead</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.privilege3.viewLead">

                </div>

            </div>

            <div class="row box2">
                <div class="col-md-6">
                    <h6>Create Profile</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.privilege3.createProfile">
                </div>
                <div class="col-md-6">
                    <h6>View Profile</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.privilege3.viewProfile">

                </div>

            </div>

            <div class="row box2">
                <div class="col-md-6">
                    <h6>Create Master Data </h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.privilege3.createMasterdata">
                </div>

            </div>

            <div class="row box2">
                <div class="col-md-6">
                    <h6>Edit Settings</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.privilege3.createSetting">
                </div>

            </div>

        </div>

        <br>
        <br>
        <br>

        <div class="container">
            <h6>User Team Member, Role ID <strong>4</strong></h6>

            <div class="row box2">
                <div class="col-md-6">
                    <h6>Create Contact/Company</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.privilege4.createCompany">
                </div>
                <div class="col-md-6">
                    <h6>View Contact/Company</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.privilege4.viewCompany">

                </div>

            </div>

            <div class="row box2">
                <div class="col-md-6">
                    <h6>Create Meeting</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.privilege4.createMeeting">
                </div>
                <div class="col-md-6">
                    <h6>View Meeting</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.privilege4.viewMeeting">

                </div>

            </div>



            <div class="row box2">
                <div class="col-md-6">
                    <h6>Create Lead</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.privilege4.createLead">
                </div>
                <div class="col-md-6">
                    <h6>View Lead</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.privilege4.viewLead">

                </div>

            </div>

            <div class="row box2">
                <div class="col-md-6">
                    <h6>Create Profile</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.privilege4.createProfile">
                </div>
                <div class="col-md-6">
                    <h6>View Profile</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.privilege4.viewProfile">

                </div>

            </div>

            <div class="row box2">
                <div class="col-md-6">
                    <h6>Create Master Data </h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.privilege4.createMasterdata">
                </div>

            </div>

            <div class="row box2">
                <div class="col-md-6">
                    <h6>Edit Settings</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.privilege4.createSetting">
                </div>

            </div>

        </div>
    </div>



    <div class="jumbotron box">
        <div class="container">
            <button class="k-primary"  class="k-button k-primary" ng-click="publishValidator()" >Publish</button>
        </div>
    </div>
</div>
