<div>
    <a ui-sref="fieldvalidationadd" class="pull-right btn btn-primary btn-outline btn-rounded">Add</a>
    <h3>Field Validation <small>Add/Remove Field Validation</small></h3>
    <div class="jumbotron">
        <h4>Lead Form Validtion</h4>
        <small>Check the required Fields</small>
        <br><br>

        <div class="container">
            <div class="row box2">
                <div class="col-md-6">
                    <h6>Lead Type</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.leadType">
                </div>
                <div class="col-md-6">
                    <h6>Title</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.leadTitle">

                </div>

            </div>
            <div class="row box2">
                <div class="col-md-6">
                    <h6>Location</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.location">
                </div>
                <div class="col-md-6">
                    <h6>Requested Service Type</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.requestedServiceType">

                </div>

            </div>
            <div class="row box2">
                <div class="col-md-6">
                    <h6>Status Type</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.leadStatusType">
                </div>
                <div class="col-md-6">
                    <h6>Assigned Team Leader</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.assignedTeamLeader">

                </div>

            </div>
            <div class="row box2">
                <div class="col-md-6">
                    <h6>Assigned Sales Person</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.assignedSalesPerson">
                </div>
                <div class="col-md-6">
                    <h6>Client Type</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.leadClientType">

                </div>

            </div>
            <div class="row box2">
                <div class="col-md-6">
                    <h6>Client Response Type</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.leadClientResponseType">
                </div>
                <div class="col-md-6">
                    <h6>Client Current Service Type</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.leadClientCurrentServiceType">

                </div>

            </div>
            <div class="row box2">
                <div class="col-md-6">
                    <h6>Status Remarks</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.leadStatusRemarks">
                </div>
                <div class="col-md-6">
                    <h6>Sales Person Remarks</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.leadSalesPersonRemarks">

                </div>

            </div>
            <div class="row box2">
                <div class="col-md-6">
                    <h6>Expected Business</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.leadExpectedBusiness">
                </div>
                <div class="col-md-6">
                    <h6>Actual Business</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.leadActualBusiness">

                </div>

            </div>
            <div class="row box2">
                <div class="col-md-6">
                    <h6>Currency Type</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.leadCurrencyType">
                </div>
                <div class="col-md-6">
                    <h6>Source Type</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.leadSourceType">

                </div>

            </div>
            <div class="row box2">
                <div class="col-md-6">
                    <h6>Follow Up Count</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.followUpCount">
                </div>
                <div class="col-md-6">
                    <h6>Scheduel Date</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.scheduelDate">

                </div>

            </div>

        </div>
    </div>


    <div class="jumbotron">
        <h4>Companies Form Validtion</h4>
        <small>Check the required Fields</small>
    <br><br>

        <div class="container">
            <div class="row box2">
                <div class="col-md-6">
                    <h6>Company Name</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.companyName">
                </div>
                <div class="col-md-6">
                    <h6>Company Type</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.companyType">

                </div>

            </div>

            <div class="row box2">
                <div class="col-md-6">
                    <h6>Company Contact Number</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.companyContactNumber">
                </div>
                <div class="col-md-6">
                    <h6>Billing Address</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.companyBillingAddress">

                </div>

            </div>

            <div class="row box2">
                <div class="col-md-6">
                    <h6>Company Email</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.companyEmail">
                </div>
                <div class="col-md-6">
                    <h6>Description</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.companyDescription">

                </div>

            </div>
            <br>



            <div class="row">
                <div class="col-md-3">

                </div>

                <div class="col-md-9">
                    <div class="row box2">
                        <div class="col-md-6">
                            <h6>Contact Person Name</h6>
                            <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.contactPersons.contactPersonName">
                        </div>
                        <div class="col-md-6">
                            <h6>Designation</h6>
                            <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.contactPersons.contactPersonDesignation">

                        </div>
                    </div>
                    <div class="row box2">
                        <div class="col-md-6">
                            <h6>Contact Number</h6>
                            <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.contactPersons.contactPersonContactNumber">
                        </div>
                        <div class="col-md-6">
                            <h6>Email</h6>
                            <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.contactPersons.contactPersonEmail">

                        </div>
                    </div>
                    <div class="row box2">
                        <div class="col-md-6">
                            <h6>Contact Type</h6>
                            <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.contactPersons.contactPersonContactType">
                        </div>
                        <div class="col-md-6">
                            <h6>Remarks</h6>
                            <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.contactPersons.contactPersonRemarks">

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
