<div>
    <a ui-sref="contactPerson" class="pull-right btn btn-primary btn-outline btn-rounded">Contact Person</a>
    <h3>Contact Person <small>Add/Remove Contact Person</small></h3>

    <form kendo-validator="validator" ng-submit="publishCompany()">

    <div class="jumbotron box">

        <h4>Title and details</h4>



        <div class="container" >
            <h6>Contact Person Name</h6>
            <input k-content style="width: 100%" ng-required="{{validatorServer.contactPersonName}}" ng-model="model.contactPersonName">
            <br>

             <h6>Contact Person Designation</h6>
            <input k-content style="width: 100%" ng-required="{{validatorServer.contactPersonDesignation}}" ng-model="model.contactPersonDesignation">
            <br>


            <h6>Contact Number</h6>
            <input k-content style="width: 100%" ng-required="{{validatorServer.contactPersonContactNumber}}" ng-model="model.contactPersonContactNumber">
            <br>




            <h6>Contact Type</h6>
            <select kendo-drop-down-list ng-required="{{validatorServer.contactPersonContactType}}"  k-options="selectOptionsCompanyType" k-ng-model="model.contactPersonContactType" style="width: 100%;"></select>
            <br>




            <h6>Email</h6>
            <input k-content style="width: 100%" ng-required="{{validatorServer.contactPersonEmail}}" ng-model="model.contactPersonEmail">
            <br>


            <h6>Is Decision Maker ?</h6>
            <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.contactPersonIsDecisionMaker">
            <br>

            <h6>Is Client New ?</h6>
            <input class="k-content" type="checkbox" name="vehicle" ng-model="model.contactPersonIsClientNew">
            <br>


            <h6>Remarks</h6>
            <textarea kendo-editor ng-required="{{validatorServer.contactPersonRemarks}}" k-ng-model="model.contactPersonRemarks"></textarea><br>
            <br>



        </div>


    </div>

        <div class="jumbotron box">
            <div class="container">
                <button class="k-primary"  class="k-button k-primary" type="submit" >Publish</button>
            </div>
        </div>
    </form>

</div>

