<div>
    <h3>Field Validation <small>Add/Remove Field Validation and Custom Field</small></h3>


    <div class="jumbotron">
        <h4>Allow Custom Fields</h4>
        <br><br>

        <div class="container">
            <h6>Custom Field</h6>
            <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.settings.customFeilds">
        </div>
    </div>



    <div class="jumbotron">
        <h4>Lead Form Validtion</h4>
        <small>Check the required Fields</small>
        <br><br>

        <div class="container">
            <div class="row box2">
                <div class="col-md-6">
                    <h6>Lead Type</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.pitchValidator.pitchType">
                </div>
                <div class="col-md-6">
                    <h6>Title</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.pitchValidator.pitchTitle">

                </div>

            </div>
            <div class="row box2">
                <div class="col-md-6">
                    <h6>Location</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.pitchValidator.location">
                </div>
                <div class="col-md-6">
                    <h6>Requested Service Type</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.pitchValidator.requestedServiceType">

                </div>

            </div>
            <div class="row box2">
                <div class="col-md-6">
                    <h6>Status Type</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.pitchValidator.pitchStatusType">
                </div>
                <div class="col-md-6">
                    <h6>Assigned Team Leader</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.pitchValidator.assignedTeamLeader">

                </div>

            </div>
            <div class="row box2">
                <div class="col-md-6">
                    <h6>Assigned Sales Person</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.pitchValidator.assignedSalesPerson">
                </div>
                <div class="col-md-6">
                    <h6>Client Type</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.pitchValidator.pitchClientType">

                </div>

            </div>
            <div class="row box2">
                <div class="col-md-6">
                    <h6>Client Response Type</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.pitchValidator.pitchClientResponseType">
                </div>
                <div class="col-md-6">
                    <h6>Client Current Service Type</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.pitchValidator.pitchClientCurrentServiceType">

                </div>

            </div>
            <div class="row box2">
                <div class="col-md-6">
                    <h6>Status Remarks</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.pitchValidator.pitchStatusRemarks">
                </div>
                <div class="col-md-6">
                    <h6>Sales Person Remarks</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.pitchValidator.pitchSalesPersonRemarks">

                </div>

            </div>
            <div class="row box2">
                <div class="col-md-6">
                    <h6>Expected Business</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.pitchValidator.pitchExpectedBusiness">
                </div>
                <div class="col-md-6">
                    <h6>Actual Business</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.pitchValidator.pitchActualBusiness">

                </div>

            </div>
            <div class="row box2">
                <div class="col-md-6">
                    <h6>Currency Type</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.pitchValidator.pitchCurrencyType">
                </div>
                <div class="col-md-6">
                    <h6>Source Type</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.pitchValidator.pitchSourceType">

                </div>

            </div>
            <div class="row box2">
                <div class="col-md-6">
                    <h6>Follow Up Count</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.pitchValidator.followUpCount">
                </div>
                <div class="col-md-6">
                    <h6>Scheduel Date</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.pitchValidator.scheduelDate">

                </div>

            </div>

        </div>
    </div>


    <div class="jumbotron">
        <h4>Companies Form Validtion</h4>
        <small>Check the required Fields</small>
    <br><br>

        <div class="container">
            <div class="row box2">
                <div class="col-md-6">
                    <h6>Company Name</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.companyValidator.companyName">
                </div>
                <div class="col-md-6">
                    <h6>Company Type</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.companyValidator.companyType">

                </div>

            </div>

            <div class="row box2">
                <div class="col-md-6">
                    <h6>Company Contact Number</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.companyValidator.companyContactNumber">
                </div>
                <div class="col-md-6">
                    <h6>Billing Address</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.companyValidator.companyBillingAddress">

                </div>

            </div>

            <div class="row box2">
                <div class="col-md-6">
                    <h6>Company Email</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.companyValidator.companyEmail">
                </div>
                <div class="col-md-6">
                    <h6>Description</h6>
                    <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.companyValidator.companyDescription">

                </div>

            </div>
            <br>



            <div class="row">
                <div class="col-md-3">

                </div>

                <div class="col-md-9">
                    <div class="row box2">
                        <div class="col-md-6">
                            <h6>Contact Person Name</h6>
                            <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.companyValidator.contactPersons.contactPersonName">
                        </div>
                        <div class="col-md-6">
                            <h6>Designation</h6>
                            <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.companyValidator.contactPersons.contactPersonDesignation">

                        </div>
                    </div>
                    <div class="row box2">
                        <div class="col-md-6">
                            <h6>Contact Number</h6>
                            <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.companyValidator.contactPersons.contactPersonContactNumber">
                        </div>
                        <div class="col-md-6">
                            <h6>Email</h6>
                            <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.companyValidator.contactPersons.contactPersonEmail">

                        </div>
                    </div>
                    <div class="row box2">
                        <div class="col-md-6">
                            <h6>Contact Type</h6>
                            <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.companyValidator.contactPersons.contactPersonContactType">
                        </div>
                        <div class="col-md-6">
                            <h6>Remarks</h6>
                            <input class="k-content" type="checkbox"    name="vehicle" ng-model="model.companyValidator.contactPersons.contactPersonRemarks">

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>



    <div class="jumbotron box">
        <div class="container">
            <button class="k-primary"  class="k-button k-primary" ng-click="publishValidator()" >Publish</button>
        </div>
    </div>

</div>
