<div>
    <a ui-sref="profiles" class="pull-right btn btn-primary btn-outline btn-rounded">Profiles</a>
    <h3>Profiles <small>Add Team Members</small></h3>
    <div class="jumbotron box">
        <h4>Profiles</h4>



        <div class="container" >

            <h6>Username</h6>

            <select kendo-drop-down-list name="saletype"   k-options="selectOptionsUsers"   k-ng-model="model.assignedUser" style="width: 100%;"></select>





        </div>






        <div class="container">
            <button ng-click="publishAssignment()" class="k-primary">Update</button>
        </div>
    </div>
</div>

